.slider__container {
  display: grid;
  grid-template-columns: 512px 512px;
  grid-template-rows: auto 200px;
  justify-content: center;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

.slider__text__container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  width: 76px;
  overflow: hidden;
}

.slider__text {
  width: 100%;
  white-space: nowrap;
}

.slider__img {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider__pagination {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 2%;
  justify-content: end;
  align-items: center;
}

label {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: aqua;
  cursor: pointer;
}
